{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - PDV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">
</head>
<body>

<div class="sidebar">
    <h4>Sistema Farmácia</h4>

    <a class="active" href="{% url 'dashboard' %}">PDV</a>
    <a href="#">Produtos</a>
    <a href="#">Clientes</a>
    <a href="#">Vendas</a>
    <a href="{% url 'logout' %}">Sair</a>
</div>

<div class="main">

    <div class="mb-3">
        <h3>PDV</h3>
        <p class="text-muted mb-0">Usuário logado: {{ request.user.username }}</p>
    </div>

    <div class="row">

        <div class="col-md-8">

            <div class="card-box">
                <h5>Adicionar produto</h5>
                <input class="form-control mb-3" placeholder="Digite o produto">
            </div>

            <div class="card-box">
                <h5>Cliente</h5>

                <select class="form-select mb-3">
                    <option selected>Selecione um cliente</option>
                    <option>Cliente balcão</option>
                    <option>João da Silva</option>
                    <option>Maria Oliveira</option>
                </select>
            </div>

            <div class="card-box">
                <h5>Itens</h5>

                <div class="produto">
                    <span>Dipirona</span>
                    <span>Qtd: 2</span>
                    <span>R$ 9,00</span>
                </div>

                <div class="produto">
                    <span>Paracetamol</span>
                    <span>Qtd: 1</span>
                    <span>R$ 6,00</span>
                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card-box">
                <h5>Resumo</h5>

                <p>Subtotal: R$ 15,00</p>
                <p>Desconto: R$ 0,00</p>
                <p>Total: <span class="total">R$ 15,00</span></p>

                <button class="btn btn-finalizar w-100 mt-3">
                    Finalizar venda
                </button>
            </div>

        </div>

    </div>

</div>

</body>
</html>
